/* Base styles for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "Varela Round", sans-serif;
}

/* Post container */
.post {
    width: 95%;
    max-width: 800px;
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-left: 5px solid #0b84f3;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: visible;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.post:hover {
    transform: scale(1.02);
}

@media (max-width: 600px) {
    .post {
        padding: 10px;
        height: auto;
    }
}

/* Post header and avatar */
.post-avatar {
    width: 130px;
    height: 130px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 600px) {
    .post-avatar {
        width: 80px;
        height: 80px;
    }
}

/* Avatar in signed-up users */
.avatar-signed-up-users .post-avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #0b84f3;
}

.post-more-info-content .avatar-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
    justify-content: start;
    margin-top: 10px;
}

.post-more-info-content .avatar img {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* Post information */
.post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
}

.post-info > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-cityName,
.post-sportType,
.post-skillLevel,
.post-peopleStatus {
    color: blue;
}

.post-cityName,
.post-sportType,
.post-skillLevel {
    margin: 5px 0;
    font-size: 20px;
}

.post-peopleStatus {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.fa-map-location-dot,
.fa-person-running,
.fa-chart-simple,
.fa-users {
    width: 20px;
    height: 20px;
    color: blue;
    margin-right: 8px;
}

/* Post footer */
.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-additionalInfo {
    flex-grow: 1;
    margin-right: 5px;
    color: blue;
    font-size: 20px;
}

/* More info section */
.post-more-info {
    margin-top: 10px;
    text-align: center;
}

.post-more-info-summary {
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #007BFF;
}

.post-more-info-content {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px 20px;
    padding: 15px;
    margin-top: 5px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-top: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    font-size: 20px;
}

.post-more-info[open] .post-more-info-content {
    max-height: 800px;
}

.post[open] {
    overflow: hidden;
}

.post-more-info-content > div {
    display: contents;
}

.info-value {
    font-weight: bold;
}

/* Sign-up button */
.signUp {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.mt-3 {
    margin-top: 1rem;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100%;
}

.registerForm {
    display: flex;
    align-items: center;
    text-align: center;
}

.registerMessage {
    margin-top: 10px;
    font-size: 16px;
    color: red;
}
