body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.post {
    width: 95%;
    max-width: 800px;
    max-height: 600px;
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.post:hover {
    transform: scale(1.02);
}

.post-header {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .post {
        height: auto;
        padding: 10px;
    }
}

.post-avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
}

.post-info > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fa-map-location-dot, .fa-person-running, .fa-chart-simple, .fa-users {
    width: 20px;
    height: 20px;
    color: blue;
    margin-right: 8px;
}

.post-cityName, .post-sportType, .post-skillLevel {
    margin: 5px 0;
    align-items: center;
    color: blue;
    font-size: 20px;
}

.post-peopleStatus {
    display: flex;
    color: blue;
    align-items: center;
    font-size: 16px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-additionalInfo {
    margin-right: 5px;
    color: blue;
    font-size: 20px;
    flex-grow: 1;
}

.post-more-info {
    margin-top: 10px;
    text-align: center;
}

.post-more-info-summary {
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    color: blue;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.post-more-info-content {
    padding: 15px;
    border-top: 1px solid #ccc;
    margin-top: 5px;
    background: #f9f9f9;
    display: grid;
    text-align: left;
    font-size: 20px;
    grid-template-columns: max-content auto;
    gap: 10px 20px;
}

.post-more-info-content > div {
    display: contents;
}

.post-more-info[open] .post-more-info-content {
    display: grid;
}

.post[open] {
    max-height: 800px;
    overflow: hidden;
}

.info-value {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Varela Round", sans-serif;
}
