body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding-top: 5rem;
    background-color: #fff;
    box-sizing: border-box;
    background: linear-gradient(120deg, #f0f4f8, #d9e6f2);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    color: #333;
}


