<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FAQ - Usuwanie Konta</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .faq-header {
            margin-bottom: 20px;
        }
        .faq-content {
            margin-bottom: 10px;
        }
        .faq-question {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="faq-header">
    <h2>FAQ - Najczęściej Zadawane Pytania</h2>
</div>

<div class="faq-content">
    <div class="faq-question">Jak mogę usunąć swoje konto w aplikacji PlayMeet?</div>
    <p>Aby usunąć konto w aplikacji PlayMeet, dostępnej w Google Play, wykonaj poniższe kroki:</p>
    <ol>
        <li>Zaloguj się do aplikacji PlayMeet.</li>
        <li>Wejdź do panelu bocznego aplikacji.</li>
        <li>Wybierz "Opcje".</li>
        <li>Kliknij "Usuń konto".</li>
        <li>Pojawi się okno dialogowe z zapytaniem, czy na pewno chcesz usunąć konto.</li>
        <li>Dla użytkowników zalogowanych za pomocą Google: wystarczy kliknąć "OK".</li>
        <li>Dla użytkowników zalogowanych za pomocą e-maila i hasła: wpisz swoje hasło w celu weryfikacji.</li>
    </ol>
    <p>W obu przypadkach, mile widziane jest podanie opinii lub powodu usunięcia konta w dostępnym polu tekstowym w
        oknie dialogowym.</p>
    <br>
    <p>Po usunięciu konta, wszystkie Twoje dane, w tym stworzone przez Ciebie posty, zostaną trwale usunięte z naszych serwerów.</p>
    <p>Jeśli napotkasz jakiekolwiek problemy podczas usuwania konta, skontaktuj się z nami pod adresem e-mail:
        support@playmeet.eu</p>

</div>
</body>
</html>