<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <link rel="stylesheet" href="/css/login_page.css">
</head>
<body>
<div class="container">
    <h2>Logowanie</h2>
    <form id="loginForm" method="POST">
        <label for="email">Username</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button id="loginButton" type="button">Sign In</button>
    </form>
    <div id="message"></div>
</div>
<div th:fragment="fearGreedFragment" class="fearGreedIndex">
    <div th:if="${fearGreedIndex != null}">
        <h3>Crypto Fear & Greed Index</h3>
        <p th:text="${fearGreedIndex}"></p>
    </div>
</div>
<script type="module" src="js/login_page.js" defer></script>
</body>
</html>
